.mainCurrentWrapper {
	text-align: left;
}

.mainCurrentCity {
	font-size: 32px;
	font-weight: 500;
	line-height: 37px;
	margin: 0 0 10px;
}

.mainCurrentDate {
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 15px 0;
}

.mainCurrentTemp {
	font-weight: 500;
	font-size: 56px;
	line-height: 112px;
}

.mainCurrentDescription {
	margin: 0;
}

.mainCurrentTemp {
	margin: 0;
}
