@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #343a40;
}

.App {
	max-width: 1440px;
	text-align: center;
	margin: 0 auto;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@media screen and (max-width: 768px) {
}
